@model IEnumerable<SchoolManagementApp.Models.User>

<h2>Users</h2>
<a class="btn btn-primary" href="/User/Create">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>PasswordHash</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.PasswordHash</td>
                <td>
                    <a href="/User/Edit/@user.Id">Edit</a> |
                    <a href="/User/Delete/@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
