@{
    ViewData["Title"] = "School Management Index Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Home</h1>
    <h2 class="display-5">This Is Student Record Management System</h2>
</div>
